.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    white-space: pre;
}
.App code {
    margin: 2em;
    margin-top: 0;
    padding: 0;
    text-align: left;
    font-size: 2em;
}
h3 {
    font-size: 2.5em;
    margin: 1em;
    padding: 0;
    border: 0;
}
button {
    font-size: 1em;
    font-family: "Courier New", monospace;
    border: none;
    border-radius: 0.3rem;
    padding: 10px 25px;
}
button:hover {
    color: white;
    background-color: #2e86c1;
}
button:active {
    background-color: #85c1e9;
}
form {
    display: flex;
    flex-direction: column;
    font-family: "Courier New", monospace;
}
input {
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid grey;
    border-radius: 0.3rem;
    padding: 5px;
}

.flex {
  display: flex;
} 

.flex-column {
  padding-left: 10px;
  flex-direction: column;
} 

.align-center {
  align-items: center;
} 

.profile-pic{
  height: 60px;
  width: 60px;
}
.profile-pic img{
  border-radius: 100px;
  max-width: 100%;
}

.profile{
  padding-left: 20px;
  padding-top: 30px;
  margin-left: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.account{
  text-align: right;
  padding:2px;
  color: white;
  font-size: 18px;
}

.word{
  color: white;
  font-size: 25px;
}

.sidebar {
  padding-top: 10px;
  position: fixed;
 /* left: -250px;*/
  width: 300px;
  height: 100%;
  background:#26073d;
  transition: all .5s ease;
}
/*.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
}*/
 ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  text-decoration: none;
  transition: .4s;
}

ul{
  padding-bottom: 30px;
  list-style-type: none;
}

ul li:hover a{
  list-style-type: none;
  color: red;
  transform: scale(1.05);
  box-shadow: 3px 4px 10px 0 rgba(0,0,0,.1), -3px -4px 10px rgba(255,255,255,1);
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
 /* background: url(bg.jpeg) no-repeat;*/
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}
